.draggable {
    width: 650px;
    height: 75px;
    text-align: center;
    background: white;
    margin-bottom: 10px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    font-size: 25px;
    font-weight: bold;
}

body {
    background-image: url('bg.jpg')
}

.dropzone {
    width: 200px;
    height: 20px;
    background: blueviolet;
    margin-bottom: 10px;
    padding: 10px;
}

.spawnzone {
    border-radius: 25px;
    height: 75px;
    background: blue;
    margin-bottom: 10px;
    margin: auto;
    width: 650px;
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.one {
    border-radius: 25px;
    width: 50%;
    font-size: 40px;
    text-align: center;
    height: 125px;
    background: blue;
    margin-bottom: 30px;
    padding: 10px;
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.two {
    width: 50%;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    height: 125px;
    margin: auto;
    font-size: 40px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background: blue;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}

.three {
    border-radius: 25px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    height: 125px;
    margin: auto;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    background: blue;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}

.answercheck {
    background: black;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    height: 50px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}